$breakpoint-xxl: 1440px; // 2 extra large - desktop
$breakpoint-xl: 1200px; //extra large - laptop
$breakpoint-lg: 1024px; //large - tablet landspace
$breakpoint-md: 768.6px; //medium - tablet
$breakpoint-sm: 425.6px; //small - phone